.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    height: 0vh;
}
header{
    background-color: darkblue;
    color: aliceblue;
    width: 100%;
}
.top{
    font-size: 50px;
    margin: 0;
}
.box{
    margin: auto;
    height: 600px;
    width: 1000px;
    min-width: 300px;
    
}
h1,h2{
    text-align: center;
    font-size: 25px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    border: 5px  solid transparent;
}
img:hover{
    border: 5px solid black;
}
.inner_box1{
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#rock, #paper, #scissor{
    margin: 10px;
    width: 200px;
    min-width: 20px;
    border-radius: 50%;
}
.inner_box2{
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 3rem;
    margin-top: 2rem;
}
.inner_box2 p{
    margin-top: 0;
}
#user_score, #comp_score{
    margin-bottom: 0;
    font-size: 3rem;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.msg{
    margin-top: 1rem;
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}
.again{
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}
.playagain{
    border: 2px solid black;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: black;
    color: whitesmoke;
    margin-top: 0.2rem;
}

@media only screen and (max-width: 500px){
    .top{
        font-size: 40px;
    }
}
@media (min-width: 500px) and (max-width: 800px){
    .top{
        font-size: 45px;
    }
}